.dev-show {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
}

.dev-show img {
    display: flex;
    width: auto;
    height: 650px;
    object-fit: cover;
    margin-right: 50px;
}

.dev-show h2{
    color: $kinda-white;
}

.options-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.options-bar button {
    border: none;
    color: $readable-gray;
    font-family: sans-serif;
    margin: 5px;
    background-color: transparent;
}

.options-bar button:hover {
    color: $emerald-green;
    cursor: pointer;
}

.dev-show-content {
    font-family: 'Kanit', sans-serif;
    color: $readable-gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}

.dev-show-content header {
    margin-bottom: 5%;
}

.dev-show-content span {
    font-size: small;
}

.dev-show-content span .fa-stack {
    font-size: 6px;
    margin-left: 3px;
}

.dev-comments {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: sans-serif;
    color: $readable-gray;
    width: 100%;
}
.dev-comments h3 {
    font-family: 'Kanit', sans-serif;
    font-size: medium;
    letter-spacing: 1.2px;
    color: $kinda-white;
    margin-bottom: 3%;
}

