.dev-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.dev-index-item {
    position: relative;
    margin: 4px;
    padding: 0;
    border: 0;
    max-width: 100%;
    height: 266.99px;
    // z-index: 1;
}

.dii-text {
    bottom: 0;
    left: 5px;
    right: 0;
    display: none;
    position: absolute;
    color: $kinda-white;
    font-family: sans-serif;
    font-weight: bold;
}

.dii-username {
    font-weight: normal;
    font-family: 'Kanit', sans-serif;
}

.dev-index-item:hover .dii-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: transparent;
}

.dev-index-item img {
    // width: auto;
    object-fit: cover;
    width: auto;
    height: 100%;
}

.dev-index-item:hover img {
    opacity: 0.6;
}