//Search button
.search-nav {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}


//Title Logo
.fa-deviantart {
    color: $deviant-green;
    font-size: xx-large;
}

//Profile Icon
.fa-user-ninja {
    color: $readable-gray;
    margin: 5px;
    font-size: large;
}

//Home Icon
.fa-home {
    font-size: large;
}

//Stacked Icon
.fa-stack {
    vertical-align: middle;
    font-size: 6px;
    bottom: 1px;
}

.fa-circle {
    color: red;
}

.fa-star {
    color: $kinda-white;
    font-size: 15px;
}