.search-button {
    padding: 10px 25px;
    color: $readable-gray;
    background-color: $pretty-black;
    border: none;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

.search-button:hover {
    color: $kinda-white;
}

.fa-deviantart {
    color: $deviant-green;
    font-size: xx-large;
}

.fa-user-ninja {
    color: $readable-gray;
    margin: 5px;
    font-size: large;
}

.fa-home {
    font-size: large;
}