//My Colors
$translucent-light-green: #D3F8E2;
$pretty-black: #0D0C1D;
$kinda-white: #F7F7F2;
$deviant-green: #7CF0BD;
$aqua-green-accent: #61D095;
$grey-aqua: #304D6D;
$dirty-dark-aqua: #084C61;
$readable-gray: #87919E;
$inactive-gray: #474954;
$barely-gray: #35393C;

//My Login/Signup Form elements
$form-width: 30%;
$form-height: 91%;
$form-padding: 20px;
$form-family: sans-serif;
$form-display: flex;
$form-justify-content: space-evenly;
$form-align-items: center;
$form-flex-direction: column;
$form-description-size: 11px;
$form-description-weight: bold;
$input-font-size: 16px;
$input-width: 100%; 
$input-height: 30px; 


//Home
// @import 'home';

//NavBar
@import 'navbar';
@import 'form';
@import 'button';
@import 'dropdown';
@import 'icon';

body {
    background-color: $pretty-black;
}