$translucent-light-green: #D3F8E2;
$pretty-black: #0D0C1D;
$kinda-white: #F7F7F2;
$deviant-green: #7CF0BD;
$dirty-dark-aqua: #084C61;
$readable-gray: #CED0CE;

//Home
// @import 'home';

//NavBar
@import 'navbar';
@import 'login';
@import 'signup';

body {
    background-color: $pretty-black;
}