.login-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
}

.login {
    position: relative;
    background-color: $kinda-white;
    width: $form-width;
    height: $form-height;
    font-family: $form-family;
    display: $form-display;
    justify-content: $form-justify-content;
    align-items: $form-align-items;
    flex-direction: $form-flex-direction;
}

.login header {
    color: $dirty-dark-aqua;
    font-weight: bold;
}

.login label {
    font-weight: $form-description-weight;
    color: $readable-gray;
    font-size: $form-description-size;
}

.login input {
    width: $input-width;
    height: $input-height;
    font-size: $input-font-size;
}