// COLORS
$not-quite-black: #11151C;
$aqua-green-accent: #61D095;
$kinda-white: #EBF2FA;
$inactive-gray: #35393C;
$grey-aqua: #304D6D;
$translucent-light-green: #D3F8E2;

// Home Page
@import 'home';

//NavBar
@import 'navbar';

//Logo
@import 'logo';
