.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $pretty-black;
    position: sticky;
}

.nav-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
}

.nav-left a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $kinda-white;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 1.3px;
    margin-left: 5px;
}

.nav-left a:hover {
    color: $deviant-green;
}


.nav-right header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $kinda-white;
    margin-top: 5%;
}

