.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $pretty-black;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}


.nav-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
}

.nav-left a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $kinda-white;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 1.3px;
    margin-left: 5px;
}

.nav-left a:hover {
    color: $deviant-green;
}

.nav-right-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right header {
    color: $kinda-white;
}

.navbar-offset {
    margin-top: 78.43px;
}

.unlogged-in {
    color: $readable-gray;
}