.user-show {
  color: $kinda-white;
  display: flex;
  flex-direction: column;
}

.show-username {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid $barely-gray;
}

.show-username .fa-circle {
  color: red;
  font-size: 18px;
  margin-left: 3px;

}

.user-show h2 .fa-star {
  color: $kinda-white;
  font-size: 13px;
  top: 2px;
  margin-left: 4px;
}

.user-show h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-show-img {
  height: 400px;
  margin-bottom: 5px;
}

.user-devs {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.user-dev {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.none-yet {
  color: $readable-gray;
}